{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, "0.9.0", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.9.0"}}},
   {clj, ".*", {git, "git://github.com/lfex/clj.git"}},
   {lhc, ".*", {git, "git://github.com/lfex/lhc.git"}},
   {ljson, ".*", {git, "git@github.com:lfex/ljson.git", "master"}},	
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.4.1"}}}
  ]}.
